// Background color
$background-black: #000000;
$background-light-black-l: #111;
$background-light-black-xl: #222;
$background-light-black-xxl: #333;
$background-white: #ffffff;
$background-gray-xxxl: #aaa;

// Text color
$kb-content: #000000;
$kb-title-green: #0f0;

// Size map
$kb-min-width: 1024px;
$kb-max-width: 2000px;
$home-padding-left: 20px;
$home-padding-right: 20px;
$header-height: 64px