@import "src/global/styles.scss";

@keyframes anime {
    0%{
        transform: translateX(-35px);
    }
    25% {
        transform: translateY(-35px);
    }
    50% {
        transform: translateX(35px);
    }
    75% {
        transform: translateY(35px);
    }
    100% {
        transform: translateX(-35px);
    }
}


.landing-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $kb-min-width;
    min-height: calc(100vh - $header-height);
    background: linear-gradient(#a2000a, #cf0000);
    .container {
        position: relative;
        width: 100%;
        height: calc(100vh - $header-height);
        overflow: hidden;
        .cricle {
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
            width: 350px;
            height: 350px;
            background: $background-white;
            border-radius: 50%;
        }

        .cricle::before {
            content: "";
            position: absolute;
            inset: -200px;
            background: url(../../images/santa.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 600px;
            animation: anime 2s linear infinite;
        }

        .cricle::after {
            content: "Merry Christmas 2024";
            position: absolute;
            inset: -125px -200px;
            font-size: 4em;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            color: $background-white;
        }
    }

    .container::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 200px;
        background: url(../../images/tree.png);
    }
}
